.BBadge {
  font-weight: 700;
  font-size: .75em;
  display: inline-block;
  color: var(--ui-white);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  padding: 4px 8px;

  &.primary {
    background-color: var(--ui-primary);
  }

  &.secondary {
    background-color: var(--ui-secondary);
  }

  &.success {
    background-color: var(--ui-success);
  }

  &.danger {
    background-color: var(--ui-danger);
  }

  &.warning {
    color: var(--ui-black);
    background-color: var(--ui-warning);
  }

  &.info {
    color: var(--ui-black);
    background-color: var(--ui-info);
  }

  &.light {
    color: var(--ui-black);
    background-color: var(--ui-light);
  }

  &.dark {
    background-color: var(--ui-dark);
  }
}