* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

:root {
  --ui-primary: #0d6efd;
  --ui-secondary: #6c757d;
  --ui-success: #198754;
  --ui-danger: #dc3545;
  --ui-warning: #ffc107;
  --ui-info: #0dcaf0;
  --ui-light: #f8f9fa;
  --ui-dark: #212529;
  --ui-black: #000;
  --ui-white: #fff;
}